:root {
    --background-color: black;
    --text-color: white;
    --libertarian-yellow: #f9d334;

    --navbar-height: 3.25rem;
    --fa-size: 1.2rem;
    --footer-padding-size: 1rem;
    --content-padding: 1rem;
    --content-height: calc(
        100vh - 0.3rem
        - var(--navbar-height)
        - var(--footer-padding-size)
        - var(--fa-size)
        - var(--content-padding)
    );
    /*Example changing variables using JavaScript: https://codepen.io/wesbos/pen/adQjoY*/
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 1rem;
}

a { color:var(--libertarian-yellow); }
a:hover { color:var(--libertarian-yellow); }

body * {
    margin-bottom: 1rem;
}

.header h1 {
    color: var(--libertarian-yellow);
}

.meme-box svg {
    border-radius: 1rem;
}

.disclaimer {
    border-radius: 1rem;
    border: 1px solid var(--libertarian-yellow);
    max-width: 90vw;
    padding: 0 1rem;
}



.social .platforms {
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
}

.social .icons * {
    margin: 0 5px;
}
.social .icons a { color:var(--text-color); }
.social .icons a:hover { color:var(--text-color); }

.examples img {
    max-width: 90vw;
}