.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: black;
    color: white;
    margin: 1rem;
}

a { color:#f9d334; }
a:hover { color:#f9d334; }

body * {
    margin-bottom: 1rem;
}

.header h1 {
    color: #f9d334;
}

.meme-box .box {
    background-color: #f9d334;
    color: black;
    border-radius: 1rem;
    padding: 2rem 1rem;
}
.meme-box .box .hashtag {
    font-size: 1.2rem;
}
.meme-box .box .description {
    font-size: 1rem;
}


.disclaimer {
    border-radius: 1rem;
    border: 1px solid #f9d334;
    max-width: 80vw;
    padding: 0 1rem;
}

.social .platforms {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social .icons * {
    margin: 0 5px;
}
.social .icons a { color:white; text-decoration: none;}
.social .icons a:hover { color:white; }

#quote {
    width: 500px;
    max-width: 80vw;
}

#meme {
    width: 500px;
    max-width: 80vw;
}

.pic-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.pic-nav {
    margin: 0 1rem;
    cursor: pointer;
}